h1 {
    font-size: 42px;
    line-height: 45px;
    font-family: Vidaloka;
    letter-spacing: 0.01em;
}

button {
    border-radius: 10px;
    background-color: #ffcb7c;
    height:60px;
    width: 234.79px;
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
};

