body{
    background: rgba(232, 252, 250, 0.3);
}

.container{
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

.left h1{
    font-size: 72px;
    line-height: 75px;
    letter-spacing: 0.01em;
    color: #000000;
}
.left .text{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
}
.text{
    margin:15px;
    width: 364.24px;
    height: 216px;
}

.sec1{
    width: 1440px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec_content{
    width: 993px;
    height: 432px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.Ping {
    margin-right: 100px;
 }

.sec2{
    width: 1440px;
    height: 505px;
}
.sec2 p{
    margin-left: 100px;
    font-family: Vidaloka;
    font-size: 48px;
    line-height: 75px;
    color: #000000;
    margin-left: 200px;
}

.card .title{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;

}

.card .text{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.sec2_content{
    width: 914.42px;
    height: 363px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


.sec3_content {
    display: flex;
    justify-content: space-between;
}
.sec3_content .title{
    font-family: Vidaloka;
    font-size: 36px;
    line-height: 75px;
    color: #000000;
}

.sec3_content .text{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    margin: 10px 0;
}

.sec3_content .left{
    margin-left: 200px;
}


.sec4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.sec4 p{
    font-family: Vidaloka;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 75px;
}